# Data Processing for UI

 1. grid_id (Grid ID)
 2. central_lat (Central Latitude)
 3. central_lon (Central Longitude)
 4. total_event_count (Total Event Count)
 5. total_flood_event (Total Flood Events)
 6. earliest_event_year (Earliest Event Year)
 7. latest_event_year (Latest Event Year)
 8. total_damages (Total Damages)
 9. primary_admin1 (Primary Administrative Region)
 10. event_summary (Event Summary)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive/')

# %cd drive/My Drive/mml_flood/

Mounted at /content/drive/
/content/drive/My Drive/mml_flood

### Read data

In [9]:
#gdis data - geocoded disasters
gdis = pd.read_csv('../data/disaster/pend-gdis-1960-2018-disasterlocations.csv')
# #emdat data - international disasters
emdat = pd.read_csv('../data/disaster/emdat_public_2022_09_21_query_uid-47Yzpr.csv', skiprows=[0,1,2,3,4,5])

/var/folders/4p/g0zxwnsd5lvdf5d6rvd07rvr0000gp/T/ipykernel_43960/2850920651.py:4: DtypeWarning: Columns (8,16,17,18,19,24,25,26,27,46,48) have mixed types. Specify dtype option on import or set low_memory=False.
  emdat = pd.read_csv('../data/disaster/emdat_public_2022_09_21_query_uid-47Yzpr.csv', skiprows=[0,1,2,3,4,5])

  ### Filter emdat columns

In [10]:
emdat['disasterno'] = emdat['Dis No'].str[:-4]  # Remove last 4 characters "-XYZ" area code

In [12]:
emdat_cols = ['disasterno', 'Year', 'Event Name',
              'Start Year', 'Start Month', 'Start Day',
              'End Year', 'End Month', 'End Day',
              "Total Damages, Adjusted ('000 US$)",
              'Total Deaths', 'Total Affected',
              "Reconstruction Costs, Adjusted ('000 US$)",
              'Disaster Subtype', 'OFDA Response', 'River Basin']

# Subset EMDAT to available columns (ignore missing ones if not present)
emdat = emdat[[col for col in emdat_cols if col in emdat.columns]]
print(emdat['OFDA Response'].count())  # check available data
print(emdat['River Basin'].count())    # check available data

1716
1312

In [13]:
print(emdat.columns)

Index(['disasterno', 'Year', 'Event Name', 'Start Year', 'Start Month',
       'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Damages, Adjusted ('000 US$)', 'Total Deaths', 'Total Affected',
       'Reconstruction Costs, Adjusted ('000 US$)', 'Disaster Subtype',
       'OFDA Response', 'River Basin'],
      dtype='object')

In [14]:
print(gdis.columns)

Index(['id', 'country', 'iso3', 'gwno', 'year', 'geo_id', 'geolocation',
       'level', 'adm1', 'adm2', 'adm3', 'location', 'historical',
       'hist_country', 'disastertype', 'disasterno', 'latitude', 'longitude'],
      dtype='object')

### Merged cleaned emdat with gdis on disasterno

In [16]:
merged_df = pd.merge(emdat, gdis, on='disasterno', how='right')
merged_df.shape

(82885, 33)

In [17]:
# Drop duplicate records based on GDIS 'id'
merged_df = merged_df.drop_duplicates(subset=['id'])
print("Merged Data Shape:", merged_df.shape)

Merged Data Shape: (9924, 33)

### Create a look up table including all disasters over all locations, lat and lon, location names

In [ ]:
#create an update table for all disasters 
df_all = merged_df.copy()

# Create grid_id from GDIS coordinates
df_all['lat'] = df_all['latitude'].round().astype(int)
df_all['lon'] = df_all['longitude'].round().astype(int)
df_all['grid_id'] = df_all['lat'].astype(str) + "_" + df_all['lon'].astype(str)

# Aggregate all params
agg_all = df_all.groupby('grid_id').agg(
    total_disaster_count = ('disasterno', 'count'),
    total_damages = ("Total Damages, Adjusted ('000 US$)", 'sum'),
    lat = ('lat', 'first'),
    lon = ('lon', 'first'),
    primary_admin1 = ('adm1', lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan),
    unique_locations = ('location', lambda x: ', '.join(sorted(x.unique()))),
    total_deaths = ('Total Deaths', 'sum') if 'Total Deaths' in df_all.columns else (lambda x: np.nan),
    predominant_disaster = ('disastertype', lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan) if 'disastertype' in df_all.columns else (lambda x: np.nan),
    all_disaster = ('disastertype', lambda x: ', '.join(sorted(x.unique()))),
    flood_count = ()
).reset_index()

In [ ]:
select_cols = ['grid_id','lat','lon','primary_admin1','unique_locations','predominant_disaster','all_disaster','total_damages','total_deaths','total_disaster_count']
agg_all = agg_all[select_cols]
# agg_all.to_csv('lookup.csv')

### Next we focus on flooding

In [20]:
#subset to flooding only 
flood_df = merged_df[merged_df['disastertype'].str.lower() == 'flood'].copy()
print("Flood Events Shape:", flood_df.shape)

Flood Events Shape: (4274, 33)

In [83]:
# Central coordinates for each grid cell
flood_df['lat'] = flood_df['lat_grid']
flood_df['lon'] = flood_df['lon_grid']

In [84]:
def compute_duration(row):
    try:
        start_date = pd.Timestamp(year=int(row['Start Year']), month=int(row['Start Month']), day=int(row['Start Day']))
        end_date = pd.Timestamp(year=int(row['End Year']), month=int(row['End Month']), day=int(row['End Day']))
        return (end_date - start_date).days
    except Exception:
        return np.nan

flood_df['duration'] = flood_df.apply(compute_duration, axis=1)

In [85]:
flood_df['duration']

0        12.0
2         7.0
3        46.0
18       16.0
27        0.0
         ...
82550     4.0
82732     NaN
82734     NaN
82735     NaN
82739     NaN
Name: duration, Length: 4274, dtype: float64

# Aggregate Data by Grid Cell

---
Aggregate Data by Grid Cell (Flood Events Only):

Group the data by grid_id and compute the following parameters:

*total_event_count*: Count of flood events in the grid.

*earliest_event_year*: Minimum of the 'year' column.

*latest_event_year*: Maximum of the 'year' column.

*total_damages*: Sum of "Total Damages, Adjusted ('000 US$)".

*primary_admin1*: Most common administrative region (adm1).

*unique_locations*: Comma-separated list of unique location names.

*avg_duration*: Average duration (in days) of flood events.

#Additional parameters (if available):


*avg_damage_per_flood*: Total_damages divided by total_event_count.

*total_deaths*: Sum of "Total Deaths".

*total_affected*: Sum of "Total Affected".

*reconstruction_costs*: Sum of "Reconstruction Costs, Adjusted ('000 US$)".

*predominant_subtype*: Mode of "Disaster Subtype".

*ofda_response_count*: Count of non-null "OFDA Response".

*predominant_river_basin*: Mode of "River Basin".

*flood_recurrence_interval*: (latest_event_year - earliest_event_year)divided by total_event_count.

In [27]:
def safe_divide(numerator, denominator):
    return numerator / denominator if denominator and denominator != 0 else np.nan

In [86]:
# Aggregate all params
aggregated = flood_df.groupby('grid_id').agg(
    total_event_count = ('disasterno', 'count'),
    earliest_event_year = ('year', 'min'),
    latest_event_year = ('year', 'max'),
    total_damages = ("Total Damages, Adjusted ('000 US$)", 'sum'),
    lat = ('lat', 'first'),
    lon = ('lon', 'first'),
    primary_admin1 = ('adm1', lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan),
    # country = ('hist_country', lambda x: x.dropna().iloc[0] if not x.dropna().empty else np.nan),
    unique_locations = ('location', lambda x: ', '.join(sorted(x.unique()))),
    avg_duration = ('duration', 'mean'),
    total_deaths = ('Total Deaths', 'sum') if 'Total Deaths' in flood_df.columns else (lambda x: np.nan),
    total_affected = ('Total Affected', 'sum') if 'Total Affected' in flood_df.columns else (lambda x: np.nan),
    reconstruction_costs = ("Reconstruction Costs, Adjusted ('000 US$)", 'sum') if "Reconstruction Costs, Adjusted ('000 US$)" in flood_df.columns else (lambda x: np.nan),
    predominant_subtype = ('Disaster Subtype', lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan) if 'Disaster Subtype' in flood_df.columns else (lambda x: np.nan),
    ofda_response_count = ('OFDA Response', lambda x: x.notnull().sum()) if 'OFDA Response' in flood_df.columns else (lambda x: np.nan),
    predominant_river_basin = ('River Basin', lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan) if 'River Basin' in flood_df.columns else (lambda x: np.nan)
).reset_index()

In [87]:
aggregated['total_flood_event'] = aggregated['total_event_count']

# Compute derived parameters:
aggregated['avg_damage_per_flood'] = aggregated.apply(
    lambda row: safe_divide(row['total_damages'], row['total_event_count']),
    axis=1
)
# Flood recurrence formula last-first divided by number of events in the interval
aggregated['flood_recurrence_interval'] = aggregated.apply(
    lambda row: safe_divide(row['latest_event_year'] - row['earliest_event_year'], row['total_event_count']),
    axis=1
)

# Text summary for events in each grid cell

In [88]:
aggregated['event_summary'] = aggregated.apply(
    lambda row: f"{row['total_event_count']} events ({row['total_flood_event']} floods) from {int(row['earliest_event_year'])} to {int(row['latest_event_year'])}, total damages: {row['total_damages'] if not pd.isna(row['total_damages']) else 'N/A'} ('000 US$)",
    axis=1
)

## There is a lot of missing data for $ costs; Replacing 0s with NaNs

In [89]:
# Replace zeros with NaN for cost-related columns in the aggregated DataFrame.
# This assumes that a 0 value for damages or reconstruction costs should be treated as missing data.
cost_columns = ['total_damages', 'reconstruction_costs']
for col in cost_columns:
    aggregated[col] = aggregated[col].replace(0, np.nan)

# Recompute the derived parameter 'avg_damage_per_flood' after the replacement.
aggregated['avg_damage_per_flood'] = aggregated.apply(
    lambda row: safe_divide(row['total_damages'], row['total_event_count']),
    axis=1
)

# Select and Order Final Columns

## We now keep only the desired columns:

 1. grid_id  
 2. central_lat  
 3. central_lon  
 4. total_event_count  
 5. earliest_event_year  
 6. latest_event_year  
 7. total_damages  
 8. primary_admin1  
 9. unique_locations  
 10. avg_duration  
 11. avg_damage_per_flood  
 12. total_deaths  
 13. total_affected  
 14. reconstruction_costs  
 15. predominant_subtype  
 16. ofda_response_count  
 17. predominant_river_basin  
 18. flood_recurrence_interval
 19. event_summary

In [97]:
final_columns = ['grid_id', 'lat', 'lon', 'total_event_count',
                 'earliest_event_year', 'latest_event_year',
                 'total_damages', 'primary_admin1', 'unique_locations', 'avg_duration',
                 'avg_damage_per_flood', 'total_deaths', 'total_affected',
                 'reconstruction_costs', 'predominant_subtype', 'ofda_response_count',
                 'predominant_river_basin', 'flood_recurrence_interval', 'event_summary']

final_df = aggregated[final_columns].copy()

In [95]:
#show percentage of missing data
final_df.isna().sum()/len(final_df)

grid_id                      0.000000
central_lat                  0.000000
central_lon                  0.000000
total_event_count            0.000000
earliest_event_year          0.000000
latest_event_year            0.000000
total_damages                0.507625
primary_admin1               0.000000
country                      0.984205
unique_locations             0.000000
avg_duration                 0.084423
avg_damage_per_flood         0.507625
total_deaths                 0.000000
total_affected               0.000000
reconstruction_costs         0.994009
predominant_subtype          0.168301
ofda_response_count          0.000000
predominant_river_basin      0.581155
flood_recurrence_interval    0.000000
event_summary                0.000000
dtype: float64

In [ ]:
#compute an overall 'hazard score' based on damage, deaths and frequency 
df = final_df.copy()

# Step 1: Min-max normalization (ignoring NaN)
df['count_norm'] = (df['total_event_count'] - df['total_event_count'].min()) / (df['total_event_count'].max() - df['total_event_count'].min())
df['deaths_norm'] = (df['total_deaths'] - df['total_deaths'].min()) / (df['total_deaths'].max() - df['total_deaths'].min())
df['damages_norm'] = (df['total_damages'] - df['total_damages'].min()) / (df['total_damages'].max() - df['total_damages'].min())

# Step 2: Handle missing values
df['count_present'] = ~df['total_event_count'].isna()
df['deaths_present'] = ~df['total_deaths'].isna()
df['damages_present'] = ~df['total_damages'].isna()

# Step 3: Determine dynamic weights
df['num_present'] = df[['count_present', 'deaths_present', 'damages_present']].sum(axis=1)

# Assign weights dynamically
df['count_weight'] = df['count_present'] / df['num_present']
df['deaths_weight'] = df['deaths_present'] / df['num_present']
df['damages_weight'] = df['damages_present'] / df['num_present']

# Fill NA with 0 for Norms 
df['count_norm'] = df['count_norm'].fillna(0)
df['deaths_norm'] = df['deaths_norm'].fillna(0)
df['damages_norm'] = df['damages_norm'].fillna(0)

# Step 4: Compute severity score dynamically
df['severity_score'] = (
df['count_norm'] * df['count_weight'] +
df['deaths_norm'] * df['deaths_weight'] +
df['damages_norm'] * df['damages_weight'])

#drop those cols 
df= df.drop(df.filter(regex='norm|weight|present').columns, axis=1) 

## TO DO: add our predicted risks as well -> TBD 

## TO DO: is min-max normalization the best?? -> @Luca can you think about this, using deaths, loss, count, to compute a severity score 

df.sort_values(by='severity_score', ascending=False).head(50)

,grid_id,lat,lon,total_event_count,earliest_event_year,latest_event_year,total_damages,primary_admin1,unique_locations,avg_duration,avg_damage_per_flood,total_deaths,total_affected,reconstruction_costs,predominant_subtype,ofda_response_count,predominant_river_basin,flood_recurrence_interval,event_summary,severity_score
1038,32_117,32,117,21,1980,2015,121621935.0,Anhui,"Anhui, Anhui, Anhui province, Xiaoxian",24.833333,5.791521e+06,18549.0,1.033919e+09,NaN,Riverine flood,6,43710,1.666667,"21 events (21 floods) from 1980 to 2015, total...",0.760331
1017,31_112,31,112,21,1980,2017,53587610.0,Hubei,"Hubei, Hubei provinces, Enshi, Hubai, Hubai ...",12.578947,2.551791e+06,4172.0,2.555336e+08,NaN,Riverine flood,1,Dalongtan Reservoir on Qingjiang River,1.761905,"21 events (21 floods) from 1980 to 2017, total...",0.415149
446,10_-68,10,-68,7,1994,2011,5440315.0,Distrito Capital,"Carabobo, Caracas",5.714286,7.771879e+05,30194.0,6.109770e+05,NaN,Riverine flood,2,"Guaire, Carmen de Uria, Caugaguita, Upire, Toc...",2.428571,"7 events (7 floods) from 1994 to 2011, total d...",0.414910
906,27_107,27,107,31,1988,2018,22364846.0,Guizhou,"Guizhou, Guizhou Sheng, Guizhou Sheng provi...",10.620690,7.214466e+05,1707.0,1.634767e+08,NaN,Riverine flood,0,Duliujiang,0.967742,"31 events (31 floods) from 1988 to 2018, total...",0.413474
931,28_112,28,112,26,1985,2016,32389279.0,Hunan,"Hunan provinces, Hunan, Hunan provinces, H...",9.739130,1.245742e+06,4048.0,2.157741e+08,NaN,Riverine flood,3,Xiangijiang River,1.192308,"26 events (26 floods) from 1985 to 2016, total...",0.411237
900,26_93,26,93,19,1968,2015,13193169.0,Assam,"Assam, Assam, Assam , Assam province, Assam s...",21.562500,6.943773e+05,3993.0,1.606086e+08,NaN,Riverine flood,1,Brahmaputra,2.473684,"19 events (19 floods) from 1968 to 2015, total...",0.280241
894,26_86,26,86,12,1975,2013,9817307.0,Bihar,"Bihar, Bihar, Bihar state, Darbhanga",12.333333,8.181089e+05,11172.0,1.621085e+08,NaN,Riverine flood,4,"Gandak, Kosi, Sone, Bagmati, Andhawara",3.166667,"12 events (12 floods) from 1975 to 2013, total...",0.272465
1110,34_72,34,72,17,1976,2015,14340690.0,N.W.F.P.,"North-West Frontier, Charsadda, Mardan distri...",8.294118,8.435700e+05,3249.0,2.778529e+07,NaN,Flash flood,2,"Khatayan, Alingar",2.294118,"17 events (17 floods) from 1976 to 2015, total...",0.252950
1771,7_80,7,80,22,1984,2018,625656.0,Colombo,"Colombo, Avissawela, Colombo, Columbo, Kaluta...",5.050000,2.843891e+04,612.0,3.469461e+06,NaN,Riverine flood,1,Kelani,1.545455,"22 events (22 floods) from 1984 to 2018, total...",0.241804
1788,8_100,8,100,20,1975,2016,4183351.0,Nakhon Si Thammarat,"Phatthalung, Hua Sai, Nakhon Si Thammarat, Na...",7.055556,2.091675e+05,1194.0,8.149182e+06,NaN,Riverine flood,4,"Kelantan, Lebir, Golok, Semerak, Tambatan Dira...",2.050000,"20 events (20 floods) from 1975 to 2016, total...",0.235758
945,28_95,28,95,17,1974,2016,700678.0,Arunachal Pradesh,"Arunachal Pradesh, Arunachal, Arunachal Prade...",22.400000,4.121635e+04,3678.0,9.872400e+07,NaN,Riverine flood,1,Brahmaptura river,2.470588,"17 events (17 floods) from 1974 to 2016, total...",0.220302
988,30_108,30,108,14,2002,2018,19125916.0,Chongqing,"Chongqing, Chongqing Shi, Chongqing, Chongqi...",13.142857,1.366137e+06,1765.0,1.649345e+08,NaN,Riverine flood,0,"Hanjiang, Ziwu, Xun, Yangtze, Jialinjiang",1.142857,"14 events (14 floods) from 2002 to 2018, total...",0.216349
618,15_100,15,100,7,1986,2017,49190730.0,Ang Thong,"Han Ka, Ang Thong, Angthong, central",53.571429,7.027247e+06,1111.0,1.647576e+07,NaN,Riverine flood,1,"Mae Loa, Mekong River,",4.428571,"7 events (7 floods) from 1986 to 2017, total d...",0.213750
1013,31_103,31,103,15,1980,2016,11776128.0,Sichuan,"Baiyu, Dazhou city, Guangan, Sichuan, Sichuan ...",4.000000,7.850752e+05,2099.0,1.767597e+07,NaN,Riverine flood,1,Yangtze,2.400000,"15 events (15 floods) from 1980 to 2016, total...",0.211003
836,23_72,23,72,11,1968,2018,4184748.0,Gujarat,"Gujarat, Gujarat - , Ahmedabad, Gujarat",7.166667,3.804316e+05,7273.0,3.831400e+07,NaN,Riverine flood,1,Sabarmati,4.545455,"11 events (11 floods) from 1968 to 2018, total...",0.202872
295,-3_29,-3,29,18,1989,2015,17151.0,Bujumbura Mairie,"Bubanza, Bubanza province, Bujumbura, Bujumbur...",4.076923,9.528333e+02,231.0,8.499100e+04,NaN,Riverine flood,1,Gikoma Nyabagere river,1.444444,"18 events (18 floods) from 1989 to 2015, total...",0.191486
830,23_113,23,113,16,1981,2018,3225074.0,Guangdong,"Guangdong, Guangdong Sheng, Guangdong, Guang...",5.066667,2.015671e+05,805.0,3.243316e+06,NaN,Riverine flood,0,Pijiang and Liuxihe rivers,2.312500,"16 events (16 floods) from 1981 to 2018, total...",0.184393
356,-6_107,-6,107,15,1967,2017,6772585.0,Jakarta Raya,"Jakarta, Bekasi, Jakarta, Jarkarta, Setu, Tan...",6.923077,4.515057e+05,269.0,2.071670e+06,NaN,Riverine flood,3,1190,3.333333,"15 events (15 floods) from 1967 to 2017, total...",0.177087
1306,40_-89,40,-89,8,1988,2011,35569560.0,Illinois,"Illinois, Illlinois",20.250000,4.446195e+06,79.0,1.106715e+07,NaN,Riverine flood,0,"Iowa, Des Moines, Mississippi, Raccoon, Cedar,...",2.875000,"8 events (8 floods) from 1988 to 2011, total d...",0.176137
861,25_101,25,101,14,1985,2016,4242804.0,Yunnan,"Yunnan Sheng, Yunnan Sheng provinces, Yunna...",5.181818,3.030574e+05,1183.0,1.209116e+07,NaN,Riverine flood,0,Wangvan,2.214286,"14 events (14 floods) from 1985 to 2016, total...",0.169133
1773,7_82,7,82,15,1967,2013,694195.0,Ampara,"Ampara, Amaprai, Ampara, Amparai, Eastern",5.642857,4.627967e+04,261.0,4.883394e+06,NaN,Riverine flood,4,"Kampiyankaddu, Parakramara Samidra, Nuwara Wev...",3.066667,"15 events (15 floods) from 1967 to 2013, total...",0.160340
876,25_89,25,89,12,1986,2014,4035778.0,Rajshahi,"Bogra, Rajshahi district, Rajshai, Rajskabi di...",19.909091,3.363148e+05,1805.0,6.484841e+07,NaN,Riverine flood,1,"Brahmaputra and tributaries. Lohit, Dikhow, Ja...",2.333333,"12 events (12 floods) from 1986 to 2014, total...",0.153210
1217,37_71,37,71,13,1991,2016,144638.0,Badakhshan,"Baharak, Badakhshan, Badakhstan, Badakshan, F...",10.538462,1.112600e+04,1300.0,3.539610e+05,NaN,Riverine flood,1,Helmand,1.923077,"13 events (13 floods) from 1991 to 2016, total...",0.148081
568,13_80,13,80,13,1960,2017,319277.0,Tamil Nadu,"Chenai , Chennai, Kotturpuram, Madras City, Ta...",5.307692,2.455977e+04,1203.0,2.453718e+06,NaN,Riverine flood,2,Bennihalla,4.384615,"13 events (13 floods) from 1960 to 2017, total...",0.147489
372,-7_108,-7,108,14,1977,2018,68428.0,Jawa Barat,"Bandung districts , Dayeuhkolot, Sumedang d...",2.727273,4.887714e+03,242.0,5.403010e+05,NaN,Riverine flood,0,Ciamanuk river,2.928571,"14 events (14 floods) from 1977 to 2018, total...",0.147304
693,18_-72,18,-72,9,1987,2016,NaN,Ouest,"Carrefour municipalities , Grand Gosier, Port...",1.777778,NaN,780.0,5.984500e+04,NaN,Riverine flood,1,"Soleil, Yuna",3.222222,"9 events (9 floods) from 1987 to 2016, total d...",0.146250
932,28_116,28,116,7,1988,2016,25106143.0,Jiangxi,"Jianggxi provinces, Jiangxi, Jaingxi, Jiangx...",8.200000,3.586592e+06,369.0,6.035400e+07,NaN,Riverine flood,0,Le'an,4.000000,"7 events (7 floods) from 1988 to 2016, total d...",0.139550
702,18_106,18,106,12,1992,2016,1639647.0,Ha Tinh,"Minh Hoa, Ha Tinh, Quan Binh, Quang Binh",6.500000,1.366372e+05,1101.0,6.068609e+06,NaN,Riverine flood,4,Ben Hai,2.000000,"12 events (12 floods) from 1992 to 2016, total...",0.138871
1113,34_77,34,77,8,1984,2015,18400585.0,Jammu And Kashmir,"Cholglamsar, Jammu and Kashmir, Jammu and Kash...",8.285714,2.300073e+06,852.0,3.756550e+05,NaN,Flash flood,2,"Jelum, Chenab",3.875000,"8 events (8 floods) from 1984 to 2015, total d...",0.137615
1792,8_126,8,126,13,1975,2018,71316.0,Davao Del Norte,"Compostela Valley, Dvao, Agusan del Sur, Com...",2.307692,5.485846e+03,221.0,1.202297e+06,NaN,Riverine flood,0,Agusan River,3.307692,"13 events (13 floods) from 1975 to 2018, total...",0.135969
1794,8_34,8,34,9,1988,2008,NaN,Gambela Peoples,"Gambale, Gambela region, Gambella, Gambella R...",11.666667,NaN,49.0,6.677640e+05,NaN,Riverine flood,0,Baro,2.222222,"9 events (9 floods) from 1988 to 2008, total d...",0.134145
913,27_81,27,81,10,1961,2018,2977208.0,Uttar Pradesh,Uttar Pradesh,6.142857,2.977208e+05,2307.0,3.283506e+07,NaN,Riverine flood,0,NaN,5.700000,"10 events (10 floods) from 1961 to 2018, total...",0.133628
1574,4_19,4,19,9,1973,2013,NaN,Bangui,"Bangui, Banguy, Malimaka",4.857143,NaN,6.0,1.254430e+05,NaN,Riverine flood,2,Ngoubagara canal,4.444444,"9 events (9 floods) from 1973 to 2013, total d...",0.133433
1496,46_23,46,23,12,1995,2010,3238861.0,Alba,"Alba, Baia de Aries, Hunedoara",12.916667,2.699051e+05,135.0,2.422880e+05,NaN,Riverine flood,5,"Bistritza, Aries, Somesh, Cris",1.250000,"12 events (12 floods) from 1995 to 2010, total...",0.132589
663,16_80,16,80,10,1964,2013,557565.0,Andhra Pradesh,"Andhra Pradesh, Andhra Pradresh, Guntur",5.000000,5.575650e+04,2582.0,8.914000e+05,NaN,Riverine flood,2,Krishna and Godavari and tributaries,4.900000,"10 events (10 floods) from 1964 to 2013, total...",0.130033
270,-37_-61,-37,-61,11,1967,2014,5547394.0,Buenos Aires,"Buenos Aires province, Buenos Aires, Buenos A...",3.714286,5.043085e+05,156.0,5.082803e+06,NaN,Riverine flood,2,"Yuqueri Grande, Chico River",4.272727,"11 events (11 floods) from 1967 to 2014, total...",0.128037
1052,32_77,32,77,8,1993,2014,NaN,Himachal Pradesh,"Himachal Pradesh, Kullu, Kulu",3.285714,NaN,681.0,2.417549e+06,NaN,Riverine flood,0,Ganges tributaris,2.625000,"8 events (8 floods) from 1993 to 2014, total d...",0.127944
627,15_121,15,121,12,1977,2016,32297.0,Metropolitan Manila,"Bulacan, Manila, Manila and Rizal Province, Ma...",3.300000,2.691417e+03,286.0,4.358738e+06,NaN,Coastal flood,4,Marikina river,3.250000,"12 events (12 floods) from 1977 to 2016, total...",0.125468
1758,7_125,7,125,12,1973,2014,107240.0,Davao Del Sur,"Bansalan, Cotabato, Davao, Davao City, Davao R...",6.500000,8.936667e+03,188.0,2.932239e+06,NaN,Flash flood,2,32342,3.416667,"12 events (12 floods) from 1973 to 2014, total...",0.124592
647,16_-92,16,-92,10,1987,2016,4654746.0,Chiapas,"Chiapas states, Chiapas, Chiapas state, Huehu...",8.400000,4.654746e+05,978.0,3.286575e+06,NaN,Riverine flood,2,"Grijalva, Carrizal, Samaria, and Usumacinta",2.900000,"10 events (10 floods) from 1987 to 2016, total...",0.123554
1682,5_-4,5,-4,8,1996,2018,NaN,Abidjan,"AdjamŽ AttŽcoubŽ, Pont-BrimŽ village, Abidja...",8.000000,NaN,139.0,2.567500e+04,NaN,Riverine flood,0,NaN,2.750000,"8 events (8 floods) from 1996 to 2018, total d...",0.118968
1124,35_109,35,109,9,1981,2014,6331198.0,Shaanxi,"Shaanxi, Mianxian, Shaanxi, Shaanxi province",6.400000,7.034664e+05,1150.0,2.716231e+06,NaN,Riverine flood,0,"Jtalin, Han and Wet Rivers, Hanjiang River",3.666667,"9 events (9 floods) from 1981 to 2014, total d...",0.118937
1193,37_127,37,127,10,1966,2011,3316713.0,Gyeonggi-Do,"Chungcheong, Chungchong-namdo, Chungchongdo, K...",2.800000,3.316713e+05,858.0,1.044745e+06,NaN,Flash flood,3,Kum and Imjin,4.500000,"10 events (10 floods) from 1966 to 2011, total...",0.118562
490,11_105,11,105,10,1991,2007,1009070.0,An Giang,"An Giang provinces, An Giang, Kandal",49.666667,1.009070e+05,1261.0,4.323945e+06,NaN,Riverine flood,4,Mekong,1.600000,"10 events (10 floods) from 1991 to 2007, total...",0.116687
221,-2_29,-2,29,11,1988,2018,17181.0,Iburengerazuba,"Nyakiliba, Rubavu, Gisenyi, Kalehe region, K...",7.900000,1.561909e+03,393.0,7.986500e+04,NaN,Riverine flood,1,Sebeya river,2.727273,"11 events (11 floods) from 1988 to 2018, total...",0.115497
151,-22_-43,-22,-43,9,1971,2018,3670122.0,Rio De Janeiro,"Nova Friburgo, Novo Friburgo, Rio de Janeiro, ...",2.000000,4.077913e+05,1470.0,3.271164e+06,NaN,Riverine flood,3,"Paraiba do Sul, Fuba, Muriae",5.222222,"9 events (9 floods) from 1971 to 2018, total d...",0.115176
1690,5_102,5,102,11,1986,2017,490413.0,Kelantan,"Kelantan, Kelantan Darul Naim",13.363636,4.458300e+04,158.0,1.214387e+06,NaN,Riverine flood,2,"Kelantan, Sungai Kolok, Dungun, Kemaman, Golok...",2.818182,"11 events (11 floods) from 1986 to 2017, total...",0.114199
245,-32_147,-32,147,11,1971,2003,652258.0,New South Wales,"New South Wales, North New South Wales, Coff...",9.571429,5.929618e+04,81.0,3.023600e+04,NaN,Flash flood,0,"Worona, Cooks",2.909091,"11 events (11 floods) from 1971 to 2003, total...",0.113793
719,19_-72,19,-72,11,1986,2016,55574.0,Ouest,"Dajabon, Savanette, Cazales, Cibao, Dajabon,...",1.454545,5.052182e+03,113.0,1.349540e+05,NaN,Riverine flood,1,NaN,2.727273,"11 events (11 floods) from 1986 to 2016, total...",0.112511
844,24_109,24,109,9,1985,2018,7444127.0,Guangxi,"Guangxi, Guangxi Zhuang, Guangxi, Guangxi Zh...",5.111111,8.271252e+05,280.0,1.852194e+07,NaN,Riverine flood,0,Xiangjiang River,3.666667,"9 events (9 floods) from 1985 to 2018, total d...",0.112382

# Save data to csv

In [ ]:
final_columns = ['grid_id', 'lat', 'lon', 'total_event_count',
                 'earliest_event_year', 'latest_event_year',
                 'total_damages', 'primary_admin1', 'unique_locations', 'avg_duration',
                 'avg_damage_per_flood', 'total_deaths', 'total_affected',
                 'reconstruction_costs', 'predominant_subtype', 'ofda_response_count',
                 'predominant_river_basin', 'flood_recurrence_interval', 'event_summary']

final_df = df.copy()

final_df.to_csv('/content/drive/MyDrive/mml_flood/UI/flood_grid_summary.csv', index=False)
print("Aggregated flood grid summary data saved to '/content/drive/MyDrive/mml_flood/UI/flood_grid_summary.csv'.")

Aggregated flood grid summary data saved to '/content/drive/MyDrive/mml_flood/UI/flood_grid_summary.csv'.