# Data Processing for UI

 1. grid_id (Grid ID)
 2. central_lat (Central Latitude)
 3. central_lon (Central Longitude)
 4. total_event_count (Total Event Count)
 5. total_flood_event (Total Flood Events)
 6. earliest_event_year (Earliest Event Year)
 7. latest_event_year (Latest Event Year)
 8. total_damages (Total Damages)
 9. primary_admin1 (Primary Administrative Region)
 10. event_summary (Event Summary)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

%cd drive/My Drive/mml_flood/

Mounted at /content/drive/
/content/drive/My Drive/mml_flood

### Read data

In [4]:
#gdis data - geocoded disasters
gdis = pd.read_csv('data/disaster/pend-gdis-1960-2018-disasterlocations.csv')
# #emdat data - international disasters
emdat = pd.read_csv('data/disaster/emdat_public_2022_09_21_query_uid-47Yzpr.csv', skiprows=[0,1,2,3,4,5])

<ipython-input-4-53a980b4090f>:4: DtypeWarning: Columns (8,16,17,18,19,24,25,26,27,46,48) have mixed types. Specify dtype option on import or set low_memory=False.
  emdat = pd.read_csv('data/disaster/emdat_public_2022_09_21_query_uid-47Yzpr.csv', skiprows=[0,1,2,3,4,5])

  ### Filter emdat columns

In [5]:
emdat['disasterno'] = emdat['Dis No'].str[:-4]  # Remove last 4 characters "-XYZ" area code

In [6]:
emdat_cols = ['disasterno', 'Year', 'Event Name',
              'Start Year', 'Start Month', 'Start Day',
              'End Year', 'End Month', 'End Day',
              "Total Damages, Adjusted ('000 US$)",
              'Total Deaths', 'Total Affected',
              "Reconstruction Costs, Adjusted ('000 US$)",
              'Disaster Subtype', 'OFDA Response', 'River Basin']

# Subset EMDAT to available columns (ignore missing ones if not present)
emdat = emdat[[col for col in emdat_cols if col in emdat.columns]]
print(emdat['OFDA Response'].count())  # check available data
print(emdat['River Basin'].count())    # check available data

1716
1312

In [7]:
print(emdat.columns)

Index(['disasterno', 'Year', 'Event Name', 'Start Year', 'Start Month',
       'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Damages, Adjusted ('000 US$)', 'Total Deaths', 'Total Affected',
       'Reconstruction Costs, Adjusted ('000 US$)', 'Disaster Subtype',
       'OFDA Response', 'River Basin'],
      dtype='object')

In [8]:
print(gdis.columns)

Index(['id', 'country', 'iso3', 'gwno', 'year', 'geo_id', 'geolocation',
       'level', 'adm1', 'adm2', 'adm3', 'location', 'historical',
       'hist_country', 'disastertype', 'disasterno', 'latitude', 'longitude'],
      dtype='object')

### Merged cleaned emdat with gdis on disasterno

In [13]:
merged_df = pd.merge(emdat, gdis, on='disasterno', how='right')
merged_df.shape

(82885, 33)

In [14]:
# Drop duplicate records based on GDIS 'id'
merged_df = merged_df.drop_duplicates(subset=['id'])
print("Merged Data Shape:", merged_df.shape)

Merged Data Shape: (9924, 33)

In [35]:
# Create grid_id from GDIS coordinates
merged_df['lat'] = merged_df['latitude'].round().astype(int)
merged_df['lon'] = merged_df['longitude'].round().astype(int)
merged_df['grid_id'] = merged_df['lat'].astype(str) + "_" + merged_df['lon'].astype(str)

### Create a look up table including all disasters over all locations, lat and lon, location names

In [36]:
#create a table for all locations for all disasters
df_all = merged_df.copy()

# Aggregate all params
agg_all = df_all.groupby('grid_id').agg(
    all_count = ('disasterno', 'count'), #count of all disasters
    all_damages = ("Total Damages, Adjusted ('000 US$)", 'sum'),
    lat = ('lat', 'first'),
    lon = ('lon', 'first'),
    primary_admin1 = ('adm1', lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan),
    unique_locations = ('location', lambda x: ', '.join(sorted(x.unique()))),
    all_deaths = ('Total Deaths', 'sum') if 'Total Deaths' in df_all.columns else (lambda x: np.nan),
    predominant_disaster = ('disastertype', lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan) if 'disastertype' in df_all.columns else (lambda x: np.nan),
    all_disastertypes = ('disastertype', lambda x: ', '.join(sorted(x.unique()))),
    # flood_count = ()
).reset_index()

In [138]:
agg_all
# Apply lambda function with proper f-string formatting
agg_all['event_summary'] = agg_all.apply(
    lambda row: f"""In total {row['all_count']} events across all disasters;
    predominant disaster: {row['predominant_disaster'] if not pd.isna(row['predominant_disaster']) else 'N/A'};
    types of disasters: {row['all_disastertypes'] if not pd.isna(row['all_disastertypes']) else 'N/A'};
    total damages: {row['all_damages'] if not pd.isna(row['all_damages']) else 'N/A'} ('000 US$);
    total deaths: {row['all_deaths'] if not pd.isna(row['all_deaths']) else 'N/A'}.""",
    axis=1
)
agg_all
# select_cols = ['grid_id','lat','lon','primary_admin1','unique_locations','predominant_disaster','all_disaster','total_damages','total_deaths','total_disaster_count']
# agg_all = agg_all[select_cols]
# save to CSV
# agg_all.to_csv('lookup.csv')

,grid_id,all_count,all_damages,lat,lon,primary_admin1,unique_locations,all_deaths,predominant_disaster,all_disastertypes,event_summary
0,-10_-36,1,531.0,-10,-36,Alagoas,Maceio,28.0,flood,flood,In total 1 events across all disasters;\n p...
1,-10_-37,6,895928.0,-10,-37,Alagoas,Alagoas,511.0,flood,"flood, landslide",In total 6 events across all disasters;\n p...
2,-10_-48,1,0.0,-10,-48,Tocantins,Tocantins,0.0,drought,drought,In total 1 events across all disasters;\n p...
3,-10_-66,1,0.0,-10,-66,Pando,Nueva Esperanza,25.0,flood,flood,In total 1 events across all disasters;\n p...
4,-10_-75,2,0.0,-10,-75,Pasco,Pasco,418.0,extreme temperature,extreme temperature,In total 2 events across all disasters;\n p...
...,...,...,...,...,...,...,...,...,...,...,...
2822,9_78,1,0.0,9,78,Tamil Nadu,Virudhunagar district,8.0,flood,flood,In total 1 events across all disasters;\n p...
2823,9_79,2,0.0,9,79,Tamil Nadu,"Ramanathapurum, Rameswaram",507.0,storm,storm,In total 2 events across all disasters;\n p...
2824,9_80,3,1354808.0,9,80,Kilinochchi,"Vavuniya, Kilinochchi district , Northern",212.0,flood,flood,In total 3 events across all disasters;\n p...
2825,9_81,4,325863.0,9,81,Trincomalee,"Mullaitivu district, Trincomalee",249.0,flood,"flood, storm",In total 4 events across all disasters;\n p...
2826,9_99,3,1174099.0,9,99,Surat Thani,"Surat Thani, Surat Thani, Surat Thani Province",144.0,flood,"flood, storm",In total 3 events across all disasters;\n p...

### Next we focus on one disaster type

In [139]:
disaster = 'flood' #changed the code here so we could generate detailed analysis for all disasters

#subset to flooding only
df = merged_df[merged_df['disastertype'].str.lower() == disaster].copy()
print(f"{disaster} Events Shape:", df.shape)

flood Events Shape: (4274, 36)

In [140]:
def compute_duration(row):
    try:
        start_date = pd.Timestamp(year=int(row['Start Year']), month=int(row['Start Month']), day=int(row['Start Day']))
        end_date = pd.Timestamp(year=int(row['End Year']), month=int(row['End Month']), day=int(row['End Day']))
        return (end_date - start_date).days
    except Exception:
        return np.nan

df['duration'] = df.apply(compute_duration, axis=1)

# Aggregate Data by Grid Cell

---
Aggregate Data by Grid Cell (Flood Events Only):

Group the data by grid_id and compute the following parameters:

*total_event_count*: Count of flood events in the grid.

*earliest_event_year*: Minimum of the 'year' column.

*latest_event_year*: Maximum of the 'year' column.

*total_damages*: Sum of "Total Damages, Adjusted ('000 US$)".

*primary_admin1*: Most common administrative region (adm1).

*unique_locations*: Comma-separated list of unique location names.

*avg_duration*: Average duration (in days) of flood events.

#Additional parameters (if available):


*avg_damage_per_flood*: Total_damages divided by total_event_count.

*total_deaths*: Sum of "Total Deaths".

*total_affected*: Sum of "Total Affected".

*reconstruction_costs*: Sum of "Reconstruction Costs, Adjusted ('000 US$)".

*predominant_subtype*: Mode of "Disaster Subtype".

*ofda_response_count*: Count of non-null "OFDA Response".

*predominant_river_basin*: Mode of "River Basin".

*flood_recurrence_interval*: (latest_event_year - earliest_event_year)divided by total_event_count.

In [141]:
def safe_divide(numerator, denominator):
    return numerator / denominator if denominator and denominator != 0 else np.nan

In [142]:
# Aggregate all params
aggregated = df.groupby('grid_id').agg(
    count = ('disasterno', 'count'),
    first_year = ('year', 'min'),
    last_year = ('year', 'max'),
    total_damages = ("Total Damages, Adjusted ('000 US$)", 'sum'),
    avg_duration = ('duration', 'mean'),
    total_deaths = ('Total Deaths', 'sum') if 'Total Deaths' in df.columns else (lambda x: np.nan),
    total_affected = ('Total Affected', 'sum') if 'Total Affected' in df.columns else (lambda x: np.nan),
    predominant_subtype = ('Disaster Subtype', lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan) if 'Disaster Subtype' in df.columns else (lambda x: np.nan),
    # ofda_response_count = ('OFDA Response', lambda x: x.notnull().sum()) if 'OFDA Response' in df.columns else (lambda x: np.nan),
    predominant_river_basin = ('River Basin', lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan) if 'River Basin' in df.columns else (lambda x: np.nan),
).reset_index()

In [143]:
# Compute derived parameters:
aggregated['avg_damage_per_event'] = aggregated.apply(
    lambda row: safe_divide(row['total_damages'], row['count']),
    axis=1
)
# Flood recurrence formula last-first divided by number of events in the interval
aggregated['recurrence_interval'] = aggregated.apply(
    lambda row: safe_divide(row['last_year'] - row['first_year'], row['count']),
    axis=1
)

In [144]:
aggregated['event_summary'] = aggregated.apply(
    lambda row: f"{row['count']} events from {int(row['first_year'])} to {int(row['last_year'])}, total damages: {row['total_damages'] if not pd.isna(row['total_damages']) else 'N/A'} ('000 US$)",
    axis=1
)

In [145]:
aggregated

,grid_id,count,first_year,last_year,total_damages,avg_duration,total_deaths,total_affected,predominant_subtype,predominant_river_basin,avg_damage_per_event,recurrence_interval,event_summary
0,-10_-36,1,2004,2004,531.0,1.000000,28.0,2254.0,Riverine flood,NaN,531.000000,0.000000,"1 events from 2004 to 2004, total damages: 531..."
1,-10_-37,5,1967,2009,777910.0,4.400000,451.0,2110149.0,Riverine flood,NaN,155582.000000,8.400000,"5 events from 1967 to 2009, total damages: 777..."
2,-10_-66,1,1987,1987,0.0,NaN,25.0,20000.0,Riverine flood,NaN,0.000000,0.000000,"1 events from 1987 to 1987, total damages: 0.0..."
3,-10_124,1,2010,2010,0.0,3.000000,16.0,200.0,Flash flood,NaN,0.000000,0.000000,"1 events from 2010 to 2010, total damages: 0.0..."
4,-10_14,2,2004,2005,0.0,30.500000,1.0,12000.0,Riverine flood,"Kapacala, Cuanza, Okavango rivers",0.000000,0.500000,"2 events from 2004 to 2005, total damages: 0.0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,9_77,1,1992,1992,351659.0,0.000000,51.0,500.0,Riverine flood,NaN,351659.000000,0.000000,"1 events from 1992 to 1992, total damages: 351..."
1832,9_78,1,2015,2015,0.0,4.000000,8.0,200.0,Flash flood,NaN,0.000000,0.000000,"1 events from 2015 to 2015, total damages: 0.0..."
1833,9_80,3,1981,2018,1354808.0,1.333333,212.0,396602.0,Flash flood,NaN,451602.666667,12.333333,"3 events from 1981 to 2018, total damages: 135..."
1834,9_81,3,1994,2014,0.0,18.000000,43.0,1807655.0,Riverine flood,NaN,0.000000,6.666667,"3 events from 1994 to 2014, total damages: 0.0..."
1835,9_99,2,2007,2017,1107419.0,18.500000,98.0,1900000.0,Riverine flood,NaN,553709.500000,5.000000,"2 events from 2007 to 2017, total damages: 110..."

In [146]:
#show percentage of missing data
aggregated.isna().sum()/len(aggregated)

grid_id                    0.000000
count                      0.000000
first_year                 0.000000
last_year                  0.000000
total_damages              0.000000
avg_duration               0.084423
total_deaths               0.000000
total_affected             0.000000
predominant_subtype        0.168301
predominant_river_basin    0.581155
avg_damage_per_event       0.000000
recurrence_interval        0.000000
event_summary              0.000000
dtype: float64

In [147]:
#compute an overall 'hazard score' based on damage, deaths and frequency
df = aggregated.copy()

# Step 1: Min-max normalization (ignoring NaN)
df['count_norm'] = (df['count'] - df['count'].min()) / (df['count'].max() - df['count'].min())
df['deaths_norm'] = (df['total_deaths'] - df['total_deaths'].min()) / (df['total_deaths'].max() - df['total_deaths'].min())
df['damages_norm'] = (df['total_damages'] - df['total_damages'].min()) / (df['total_damages'].max() - df['total_damages'].min())

# Step 2: Handle missing values
df['count_present'] = ~df['count'].isna()
df['deaths_present'] = ~df['total_deaths'].isna()
df['damages_present'] = ~df['total_damages'].isna()

# Step 3: Determine dynamic weights
df['num_present'] = df[['count_present', 'deaths_present', 'damages_present']].sum(axis=1)

# Assign weights dynamically
df['count_weight'] = df['count_present'] / df['num_present']
df['deaths_weight'] = df['deaths_present'] / df['num_present']
df['damages_weight'] = df['damages_present'] / df['num_present']

# Fill NA with 0 for Norms
df['count_norm'] = df['count_norm'].fillna(0)
df['deaths_norm'] = df['deaths_norm'].fillna(0)
df['damages_norm'] = df['damages_norm'].fillna(0)

# Step 4: Compute severity score dynamically
df['severity_score'] = (
df['count_norm'] * df['count_weight'] +
df['deaths_norm'] * df['deaths_weight'] +
df['damages_norm'] * df['damages_weight'])

#drop those cols
df= df.drop(df.filter(regex='norm|weight|present').columns, axis=1)


df.sort_values(by='severity_score', ascending=False).head(50)
## TO DO: is min-max normalization the best?? -> @Luca can you think about this, using deaths, loss, count, to compute a severity score

,grid_id,count,first_year,last_year,total_damages,avg_duration,total_deaths,total_affected,predominant_subtype,predominant_river_basin,avg_damage_per_event,recurrence_interval,event_summary,severity_score
1038,32_117,21,1980,2015,121621935.0,24.833333,18549.0,1.033919e+09,Riverine flood,43710,5.791521e+06,1.666667,"21 events from 1980 to 2015, total damages: 12...",0.760331
1017,31_112,21,1980,2017,53587610.0,12.578947,4172.0,2.555336e+08,Riverine flood,Dalongtan Reservoir on Qingjiang River,2.551791e+06,1.761905,"21 events from 1980 to 2017, total damages: 53...",0.415149
446,10_-68,7,1994,2011,5440315.0,5.714286,30194.0,6.109770e+05,Riverine flood,"Guaire, Carmen de Uria, Caugaguita, Upire, Toc...",7.771879e+05,2.428571,"7 events from 1994 to 2011, total damages: 544...",0.414910
906,27_107,31,1988,2018,22364846.0,10.620690,1707.0,1.634767e+08,Riverine flood,Duliujiang,7.214466e+05,0.967742,"31 events from 1988 to 2018, total damages: 22...",0.413474
931,28_112,26,1985,2016,32389279.0,9.739130,4048.0,2.157741e+08,Riverine flood,Xiangijiang River,1.245742e+06,1.192308,"26 events from 1985 to 2016, total damages: 32...",0.411237
900,26_93,19,1968,2015,13193169.0,21.562500,3993.0,1.606086e+08,Riverine flood,Brahmaputra,6.943773e+05,2.473684,"19 events from 1968 to 2015, total damages: 13...",0.280241
894,26_86,12,1975,2013,9817307.0,12.333333,11172.0,1.621085e+08,Riverine flood,"Gandak, Kosi, Sone, Bagmati, Andhawara",8.181089e+05,3.166667,"12 events from 1975 to 2013, total damages: 98...",0.272465
1110,34_72,17,1976,2015,14340690.0,8.294118,3249.0,2.778529e+07,Flash flood,"Khatayan, Alingar",8.435700e+05,2.294118,"17 events from 1976 to 2015, total damages: 14...",0.252950
1771,7_80,22,1984,2018,625656.0,5.050000,612.0,3.469461e+06,Riverine flood,Kelani,2.843891e+04,1.545455,"22 events from 1984 to 2018, total damages: 62...",0.241804
1788,8_100,20,1975,2016,4183351.0,7.055556,1194.0,8.149182e+06,Riverine flood,"Kelantan, Lebir, Golok, Semerak, Tambatan Dira...",2.091675e+05,2.050000,"20 events from 1975 to 2016, total damages: 41...",0.235758
945,28_95,17,1974,2016,700678.0,22.400000,3678.0,9.872400e+07,Riverine flood,Brahmaptura river,4.121635e+04,2.470588,"17 events from 1974 to 2016, total damages: 70...",0.220302
988,30_108,14,2002,2018,19125916.0,13.142857,1765.0,1.649345e+08,Riverine flood,"Hanjiang, Ziwu, Xun, Yangtze, Jialinjiang",1.366137e+06,1.142857,"14 events from 2002 to 2018, total damages: 19...",0.216349
618,15_100,7,1986,2017,49190730.0,53.571429,1111.0,1.647576e+07,Riverine flood,"Mae Loa, Mekong River,",7.027247e+06,4.428571,"7 events from 1986 to 2017, total damages: 491...",0.213750
1013,31_103,15,1980,2016,11776128.0,4.000000,2099.0,1.767597e+07,Riverine flood,Yangtze,7.850752e+05,2.400000,"15 events from 1980 to 2016, total damages: 11...",0.211003
836,23_72,11,1968,2018,4184748.0,7.166667,7273.0,3.831400e+07,Riverine flood,Sabarmati,3.804316e+05,4.545455,"11 events from 1968 to 2018, total damages: 41...",0.202872
295,-3_29,18,1989,2015,17151.0,4.076923,231.0,8.499100e+04,Riverine flood,Gikoma Nyabagere river,9.528333e+02,1.444444,"18 events from 1989 to 2015, total damages: 17...",0.191486
830,23_113,16,1981,2018,3225074.0,5.066667,805.0,3.243316e+06,Riverine flood,Pijiang and Liuxihe rivers,2.015671e+05,2.312500,"16 events from 1981 to 2018, total damages: 32...",0.184393
356,-6_107,15,1967,2017,6772585.0,6.923077,269.0,2.071670e+06,Riverine flood,1190,4.515057e+05,3.333333,"15 events from 1967 to 2017, total damages: 67...",0.177087
1306,40_-89,8,1988,2011,35569560.0,20.250000,79.0,1.106715e+07,Riverine flood,"Iowa, Des Moines, Mississippi, Raccoon, Cedar,...",4.446195e+06,2.875000,"8 events from 1988 to 2011, total damages: 355...",0.176137
861,25_101,14,1985,2016,4242804.0,5.181818,1183.0,1.209116e+07,Riverine flood,Wangvan,3.030574e+05,2.214286,"14 events from 1985 to 2016, total damages: 42...",0.169133
1773,7_82,15,1967,2013,694195.0,5.642857,261.0,4.883394e+06,Riverine flood,"Kampiyankaddu, Parakramara Samidra, Nuwara Wev...",4.627967e+04,3.066667,"15 events from 1967 to 2013, total damages: 69...",0.160340
876,25_89,12,1986,2014,4035778.0,19.909091,1805.0,6.484841e+07,Riverine flood,"Brahmaputra and tributaries. Lohit, Dikhow, Ja...",3.363148e+05,2.333333,"12 events from 1986 to 2014, total damages: 40...",0.153210
1217,37_71,13,1991,2016,144638.0,10.538462,1300.0,3.539610e+05,Riverine flood,Helmand,1.112600e+04,1.923077,"13 events from 1991 to 2016, total damages: 14...",0.148081
568,13_80,13,1960,2017,319277.0,5.307692,1203.0,2.453718e+06,Riverine flood,Bennihalla,2.455977e+04,4.384615,"13 events from 1960 to 2017, total damages: 31...",0.147489
372,-7_108,14,1977,2018,68428.0,2.727273,242.0,5.403010e+05,Riverine flood,Ciamanuk river,4.887714e+03,2.928571,"14 events from 1977 to 2018, total damages: 68...",0.147304
932,28_116,7,1988,2016,25106143.0,8.200000,369.0,6.035400e+07,Riverine flood,Le'an,3.586592e+06,4.000000,"7 events from 1988 to 2016, total damages: 251...",0.139550
702,18_106,12,1992,2016,1639647.0,6.500000,1101.0,6.068609e+06,Riverine flood,Ben Hai,1.366372e+05,2.000000,"12 events from 1992 to 2016, total damages: 16...",0.138871
1113,34_77,8,1984,2015,18400585.0,8.285714,852.0,3.756550e+05,Flash flood,"Jelum, Chenab",2.300073e+06,3.875000,"8 events from 1984 to 2015, total damages: 184...",0.137615
1792,8_126,13,1975,2018,71316.0,2.307692,221.0,1.202297e+06,Riverine flood,Agusan River,5.485846e+03,3.307692,"13 events from 1975 to 2018, total damages: 71...",0.135969
913,27_81,10,1961,2018,2977208.0,6.142857,2307.0,3.283506e+07,Riverine flood,NaN,2.977208e+05,5.700000,"10 events from 1961 to 2018, total damages: 29...",0.133628
1496,46_23,12,1995,2010,3238861.0,12.916667,135.0,2.422880e+05,Riverine flood,"Bistritza, Aries, Somesh, Cris",2.699051e+05,1.250000,"12 events from 1995 to 2010, total damages: 32...",0.132589
663,16_80,10,1964,2013,557565.0,5.000000,2582.0,8.914000e+05,Riverine flood,Krishna and Godavari and tributaries,5.575650e+04,4.900000,"10 events from 1964 to 2013, total damages: 55...",0.130033
270,-37_-61,11,1967,2014,5547394.0,3.714286,156.0,5.082803e+06,Riverine flood,"Yuqueri Grande, Chico River",5.043085e+05,4.272727,"11 events from 1967 to 2014, total damages: 55...",0.128037
627,15_121,12,1977,2016,32297.0,3.300000,286.0,4.358738e+06,Coastal flood,Marikina river,2.691417e+03,3.250000,"12 events from 1977 to 2016, total damages: 32...",0.125468
1758,7_125,12,1973,2014,107240.0,6.500000,188.0,2.932239e+06,Flash flood,32342,8.936667e+03,3.416667,"12 events from 1973 to 2014, total damages: 10...",0.124592
647,16_-92,10,1987,2016,4654746.0,8.400000,978.0,3.286575e+06,Riverine flood,"Grijalva, Carrizal, Samaria, and Usumacinta",4.654746e+05,2.900000,"10 events from 1987 to 2016, total damages: 46...",0.123554
1124,35_109,9,1981,2014,6331198.0,6.400000,1150.0,2.716231e+06,Riverine flood,"Jtalin, Han and Wet Rivers, Hanjiang River",7.034664e+05,3.666667,"9 events from 1981 to 2014, total damages: 633...",0.118937
1193,37_127,10,1966,2011,3316713.0,2.800000,858.0,1.044745e+06,Flash flood,Kum and Imjin,3.316713e+05,4.500000,"10 events from 1966 to 2011, total damages: 33...",0.118562
490,11_105,10,1991,2007,1009070.0,49.666667,1261.0,4.323945e+06,Riverine flood,Mekong,1.009070e+05,1.600000,"10 events from 1991 to 2007, total damages: 10...",0.116687
221,-2_29,11,1988,2018,17181.0,7.900000,393.0,7.986500e+04,Riverine flood,Sebeya river,1.561909e+03,2.727273,"11 events from 1988 to 2018, total damages: 17...",0.115497
151,-22_-43,9,1971,2018,3670122.0,2.000000,1470.0,3.271164e+06,Riverine flood,"Paraiba do Sul, Fuba, Muriae",4.077913e+05,5.222222,"9 events from 1971 to 2018, total damages: 367...",0.115176
1690,5_102,11,1986,2017,490413.0,13.363636,158.0,1.214387e+06,Riverine flood,"Kelantan, Sungai Kolok, Dungun, Kemaman, Golok...",4.458300e+04,2.818182,"11 events from 1986 to 2017, total damages: 49...",0.114199
245,-32_147,11,1971,2003,652258.0,9.571429,81.0,3.023600e+04,Flash flood,"Worona, Cooks",5.929618e+04,2.909091,"11 events from 1971 to 2003, total damages: 65...",0.113793
719,19_-72,11,1986,2016,55574.0,1.454545,113.0,1.349540e+05,Riverine flood,NaN,5.052182e+03,2.727273,"11 events from 1986 to 2016, total damages: 55...",0.112511
844,24_109,9,1985,2018,7444127.0,5.111111,280.0,1.852194e+07,Riverine flood,Xiangjiang River,8.271252e+05,3.666667,"9 events from 1985 to 2018, total damages: 744...",0.112382
451,10_-83,11,1969,2012,219177.0,4.625000,44.0,3.558940e+05,Riverine flood,Chirripo,1.992518e+04,3.909091,"11 events from 1969 to 2012, total damages: 21...",0.112198
211,-29_31,10,1974,2016,1939570.0,1.500000,581.0,8.870700e+04,Riverine flood,56340,1.939570e+05,4.200000,"10 events from 1974 to 2016, total damages: 19...",0.111730
813,22_114,11,1970,1992,96556.0,4.111111,9.0,6.407000e+03,Flash flood,NaN,8.777818e+03,2.000000,"11 events from 1970 to 1992, total damages: 96...",0.111475
1752,7_-76,10,1990,2018,1553980.0,44.777778,516.0,2.407259e+06,Riverine flood,La Garcia,1.553980e+05,2.800000,"10 events from 1990 to 2018, total damages: 15...",0.109956
853,24_88,7,1978,2011,415014.0,8.750000,3797.0,3.392720e+07,Coastal flood,NaN,5.928771e+04,4.714286,"7 events from 1978 to 2011, total damages: 415...",0.109722

In [ ]:
######################## NORMALIZATION  ################################

# Min-Max normalization is too sensitive to skewed values. Min-Max with z-score normalization is also inappropriate since our data is not normal

# Better to use log normalization for large values AND robust scaling 


from sklearn.preprocessing import RobustScaler
import matplotlib.pyplot as plt

df = aggregated.copy()

# Step 1: Log transformation 

epsilon = 1.0  # Add before log transformation to avoid log(0) = -inf

df['count_log'] = np.log1p(df['count'])  # log(1+x) handles zeros naturally
df['deaths_log'] = np.log1p(df['total_deaths'].fillna(0))
df['damages_log'] = np.log1p(df['total_damages'].fillna(0))

# Step 2: Apply robust scaling (uses median and quantiles instead of mean/std)

scaler = RobustScaler() # minimizes the effect of outliers

scaling_df = pd.DataFrame({
    'count_log': df['count_log'],
    'deaths_log': df['deaths_log'],
    'damages_log': df['damages_log']
}) # temporary df for the scaling


scaled_values = scaler.fit_transform(scaling_df)
df['count_scaled'] = scaled_values[:, 0]
df['deaths_scaled'] = scaled_values[:, 1]
df['damages_scaled'] = scaled_values[:, 2]

# Step 3: Handle missing values with dynamic weighting

df['count_present'] = ~df['count'].isna()
df['deaths_present'] = ~df['total_deaths'].isna()
df['damages_present'] = ~df['total_damages'].isna()

# Count how many metrics are present for each location
df['num_present'] = df[['count_present', 'deaths_present', 'damages_present']].sum(axis=1)

# Assign weights dynamically based on available metrics
df['count_weight'] = df['count_present'] / df['num_present']
df['deaths_weight'] = df['deaths_present'] / df['num_present']
df['damages_weight'] = df['damages_present'] / df['num_present']

# Step 4: Compute severity score with chosen weights

base_weights = {
    'count': 0.2,   
    'deaths': 0.5,   # Set the death weight the highest  // ADJUSTABLE
    'damages': 0.3   
}

# Apply both base weights and data availability weights
df['severity_score'] = (
    df['count_scaled'] * df['count_weight'] * base_weights['count'] +
    df['deaths_scaled'] * df['deaths_weight'] * base_weights['deaths'] +
    df['damages_scaled'] * df['damages_weight'] * base_weights['damages']
)

# Normalize severity score to 0-100 range
min_score = df['severity_score'].min()
max_score = df['severity_score'].max()
df['severity_score_normalized'] = (df['severity_score'] - min_score) / (max_score - min_score) * 100

# Step 5: Clean up working columns
severity_df = df.drop(df.filter(regex='log|scaled|present|weight').columns, axis=1)


top_severity = severity_df.sort_values(by='severity_score_normalized', ascending=False).head(20)
print(top_severity[['grid_id', 'count', 'total_deaths', 'total_damages', 'severity_score_normalized']]) 

# I checked some of the grid ids and they align with devastating flooding events

In [ ]:

# Optional: Visualize the distribution of severity scores
plt.figure(figsize=(8, 4))
plt.hist(df['severity_score_normalized'], bins=20, edgecolor='black')
plt.title('Distribution of Flood Severity Scores')
plt.xlabel('Severity Score (0-100)')
plt.ylabel('Number of Locations')
plt.grid(axis='y', alpha=0.75)
plt.show()

# Optional: Create a simple visualization comparing the top components
top_n = 10
top_locs = severity_df.nlargest(top_n, 'severity_score_normalized')

# Prepare data for plotting
plot_data = pd.DataFrame({
    'Location': top_locs['grid_id'],
    'Event Count': np.log1p(top_locs['count']),
    'Deaths': np.log1p(top_locs['total_deaths']),
    'Damages': np.log1p(top_locs['total_damages']),
    'Severity Score': top_locs['severity_score_normalized']
})

# Plot
plt.figure(figsize=(8, 4))
bar_width = 0.2
r1 = np.arange(top_n)
r2 = [x + bar_width for x in r1]
r3 = [x + bar_width for x in r2]
r4 = [x + bar_width for x in r3]

plt.bar(r1, plot_data['Event Count'], width=bar_width, label='Event Count (log)')
plt.bar(r2, plot_data['Deaths'], width=bar_width, label='Deaths (log)')
plt.bar(r3, plot_data['Damages'], width=bar_width, label='Damages (log)')
plt.bar(r4, plot_data['Severity Score']/10, width=bar_width, label='Severity Score/10')

plt.xlabel('Location')
plt.ylabel('Value')
plt.title('Components of Severity Score for Top 10 Locations')
plt.xticks([r + bar_width*1.5 for r in range(top_n)], plot_data['Location'], rotation=45)
plt.legend()
plt.tight_layout()
plt.show()

In [155]:
# Append 'flood_' to all column names except 'grid_id'
agg_flood = df.copy()
agg_flood = agg_flood.rename(columns=lambda col: f"{disaster}_{col}" if col != "grid_id" else col)

#merge with all_disaster data
agg_flood = pd.merge(agg_all, agg_flood, on='grid_id', how='left')

#output:
agg_flood.to_csv("ui/flood_grid_summary.csv")
# print("Aggregated flood grid summary data saved to 'flood_grid_summary.csv'")

In [ ]:
#@Luca: what is 'total affected feature'

## TO DO: is min-max normalization the best?? -> @Luca can you think about this, using deaths, loss, count, to compute a severity score
# TO DO: replicate the process for other disasters.
# TO DO: merge other data sets with this, e.g. NLP raw data.
# TO DO: add live predictions for 1-5 year

In [ ]:
#### ---- old codes ------

## There is a lot of missing data for $ costs; Replacing 0s with NaNs

In [ ]:
# Replace zeros with NaN for cost-related columns in the aggregated DataFrame.
# This assumes that a 0 value for damages or reconstruction costs should be treated as missing data.
cost_columns = ['total_damages', 'reconstruction_costs']
for col in cost_columns:
    aggregated[col] = aggregated[col].replace(0, np.nan)

# Recompute the derived parameter 'avg_damage_per_flood' after the replacement.
aggregated['avg_damage_per_flood'] = aggregated.apply(
    lambda row: safe_divide(row['total_damages'], row['total_event_count']),
    axis=1
)

# Select and Order Final Columns

## We now keep only the desired columns:

 1. grid_id  
 2. central_lat  
 3. central_lon  
 4. total_event_count  
 5. earliest_event_year  
 6. latest_event_year  
 7. total_damages  
 8. primary_admin1  
 9. unique_locations  
 10. avg_duration  
 11. avg_damage_per_flood  
 12. total_deaths  
 13. total_affected  
 14. reconstruction_costs  
 15. predominant_subtype  
 16. ofda_response_count  
 17. predominant_river_basin  
 18. flood_recurrence_interval
 19. event_summary

In [ ]:
final_columns = ['grid_id', 'lat', 'lon', 'total_event_count',
                 'earliest_event_year', 'latest_event_year',
                 'total_damages', 'primary_admin1', 'unique_locations', 'avg_duration',
                 'avg_damage_per_flood', 'total_deaths', 'total_affected',
                 'reconstruction_costs', 'predominant_subtype', 'ofda_response_count',
                 'predominant_river_basin', 'flood_recurrence_interval', 'event_summary']

final_df = aggregated[final_columns].copy()

grid_id                      0.000000
central_lat                  0.000000
central_lon                  0.000000
total_event_count            0.000000
earliest_event_year          0.000000
latest_event_year            0.000000
total_damages                0.507625
primary_admin1               0.000000
country                      0.984205
unique_locations             0.000000
avg_duration                 0.084423
avg_damage_per_flood         0.507625
total_deaths                 0.000000
total_affected               0.000000
reconstruction_costs         0.994009
predominant_subtype          0.168301
ofda_response_count          0.000000
predominant_river_basin      0.581155
flood_recurrence_interval    0.000000
event_summary                0.000000
dtype: float64

,grid_id,count,first_year,last_year,total_damages,avg_duration,total_deaths,total_affected,predominant_subtype,predominant_river_basin,avg_damage_per_event,recurrence_interval,event_summary,severity_score
1038,32_117,21,1980,2015,121621935.0,24.833333,18549.0,1.033919e+09,Riverine flood,43710,5.791521e+06,1.666667,"21 events from 1980 to 2015, total damages: 12...",0.760331
1017,31_112,21,1980,2017,53587610.0,12.578947,4172.0,2.555336e+08,Riverine flood,Dalongtan Reservoir on Qingjiang River,2.551791e+06,1.761905,"21 events from 1980 to 2017, total damages: 53...",0.415149
446,10_-68,7,1994,2011,5440315.0,5.714286,30194.0,6.109770e+05,Riverine flood,"Guaire, Carmen de Uria, Caugaguita, Upire, Toc...",7.771879e+05,2.428571,"7 events from 1994 to 2011, total damages: 544...",0.414910
906,27_107,31,1988,2018,22364846.0,10.620690,1707.0,1.634767e+08,Riverine flood,Duliujiang,7.214466e+05,0.967742,"31 events from 1988 to 2018, total damages: 22...",0.413474
931,28_112,26,1985,2016,32389279.0,9.739130,4048.0,2.157741e+08,Riverine flood,Xiangijiang River,1.245742e+06,1.192308,"26 events from 1985 to 2016, total damages: 32...",0.411237
900,26_93,19,1968,2015,13193169.0,21.562500,3993.0,1.606086e+08,Riverine flood,Brahmaputra,6.943773e+05,2.473684,"19 events from 1968 to 2015, total damages: 13...",0.280241
894,26_86,12,1975,2013,9817307.0,12.333333,11172.0,1.621085e+08,Riverine flood,"Gandak, Kosi, Sone, Bagmati, Andhawara",8.181089e+05,3.166667,"12 events from 1975 to 2013, total damages: 98...",0.272465
1110,34_72,17,1976,2015,14340690.0,8.294118,3249.0,2.778529e+07,Flash flood,"Khatayan, Alingar",8.435700e+05,2.294118,"17 events from 1976 to 2015, total damages: 14...",0.252950
1771,7_80,22,1984,2018,625656.0,5.050000,612.0,3.469461e+06,Riverine flood,Kelani,2.843891e+04,1.545455,"22 events from 1984 to 2018, total damages: 62...",0.241804
1788,8_100,20,1975,2016,4183351.0,7.055556,1194.0,8.149182e+06,Riverine flood,"Kelantan, Lebir, Golok, Semerak, Tambatan Dira...",2.091675e+05,2.050000,"20 events from 1975 to 2016, total damages: 41...",0.235758
945,28_95,17,1974,2016,700678.0,22.400000,3678.0,9.872400e+07,Riverine flood,Brahmaptura river,4.121635e+04,2.470588,"17 events from 1974 to 2016, total damages: 70...",0.220302
988,30_108,14,2002,2018,19125916.0,13.142857,1765.0,1.649345e+08,Riverine flood,"Hanjiang, Ziwu, Xun, Yangtze, Jialinjiang",1.366137e+06,1.142857,"14 events from 2002 to 2018, total damages: 19...",0.216349
618,15_100,7,1986,2017,49190730.0,53.571429,1111.0,1.647576e+07,Riverine flood,"Mae Loa, Mekong River,",7.027247e+06,4.428571,"7 events from 1986 to 2017, total damages: 491...",0.213750
1013,31_103,15,1980,2016,11776128.0,4.000000,2099.0,1.767597e+07,Riverine flood,Yangtze,7.850752e+05,2.400000,"15 events from 1980 to 2016, total damages: 11...",0.211003
836,23_72,11,1968,2018,4184748.0,7.166667,7273.0,3.831400e+07,Riverine flood,Sabarmati,3.804316e+05,4.545455,"11 events from 1968 to 2018, total damages: 41...",0.202872
295,-3_29,18,1989,2015,17151.0,4.076923,231.0,8.499100e+04,Riverine flood,Gikoma Nyabagere river,9.528333e+02,1.444444,"18 events from 1989 to 2015, total damages: 17...",0.191486
830,23_113,16,1981,2018,3225074.0,5.066667,805.0,3.243316e+06,Riverine flood,Pijiang and Liuxihe rivers,2.015671e+05,2.312500,"16 events from 1981 to 2018, total damages: 32...",0.184393
356,-6_107,15,1967,2017,6772585.0,6.923077,269.0,2.071670e+06,Riverine flood,1190,4.515057e+05,3.333333,"15 events from 1967 to 2017, total damages: 67...",0.177087
1306,40_-89,8,1988,2011,35569560.0,20.250000,79.0,1.106715e+07,Riverine flood,"Iowa, Des Moines, Mississippi, Raccoon, Cedar,...",4.446195e+06,2.875000,"8 events from 1988 to 2011, total damages: 355...",0.176137
861,25_101,14,1985,2016,4242804.0,5.181818,1183.0,1.209116e+07,Riverine flood,Wangvan,3.030574e+05,2.214286,"14 events from 1985 to 2016, total damages: 42...",0.169133
1773,7_82,15,1967,2013,694195.0,5.642857,261.0,4.883394e+06,Riverine flood,"Kampiyankaddu, Parakramara Samidra, Nuwara Wev...",4.627967e+04,3.066667,"15 events from 1967 to 2013, total damages: 69...",0.160340
876,25_89,12,1986,2014,4035778.0,19.909091,1805.0,6.484841e+07,Riverine flood,"Brahmaputra and tributaries. Lohit, Dikhow, Ja...",3.363148e+05,2.333333,"12 events from 1986 to 2014, total damages: 40...",0.153210
1217,37_71,13,1991,2016,144638.0,10.538462,1300.0,3.539610e+05,Riverine flood,Helmand,1.112600e+04,1.923077,"13 events from 1991 to 2016, total damages: 14...",0.148081
568,13_80,13,1960,2017,319277.0,5.307692,1203.0,2.453718e+06,Riverine flood,Bennihalla,2.455977e+04,4.384615,"13 events from 1960 to 2017, total damages: 31...",0.147489
372,-7_108,14,1977,2018,68428.0,2.727273,242.0,5.403010e+05,Riverine flood,Ciamanuk river,4.887714e+03,2.928571,"14 events from 1977 to 2018, total damages: 68...",0.147304
932,28_116,7,1988,2016,25106143.0,8.200000,369.0,6.035400e+07,Riverine flood,Le'an,3.586592e+06,4.000000,"7 events from 1988 to 2016, total damages: 251...",0.139550
702,18_106,12,1992,2016,1639647.0,6.500000,1101.0,6.068609e+06,Riverine flood,Ben Hai,1.366372e+05,2.000000,"12 events from 1992 to 2016, total damages: 16...",0.138871
1113,34_77,8,1984,2015,18400585.0,8.285714,852.0,3.756550e+05,Flash flood,"Jelum, Chenab",2.300073e+06,3.875000,"8 events from 1984 to 2015, total damages: 184...",0.137615
1792,8_126,13,1975,2018,71316.0,2.307692,221.0,1.202297e+06,Riverine flood,Agusan River,5.485846e+03,3.307692,"13 events from 1975 to 2018, total damages: 71...",0.135969
913,27_81,10,1961,2018,2977208.0,6.142857,2307.0,3.283506e+07,Riverine flood,NaN,2.977208e+05,5.700000,"10 events from 1961 to 2018, total damages: 29...",0.133628
1496,46_23,12,1995,2010,3238861.0,12.916667,135.0,2.422880e+05,Riverine flood,"Bistritza, Aries, Somesh, Cris",2.699051e+05,1.250000,"12 events from 1995 to 2010, total damages: 32...",0.132589
663,16_80,10,1964,2013,557565.0,5.000000,2582.0,8.914000e+05,Riverine flood,Krishna and Godavari and tributaries,5.575650e+04,4.900000,"10 events from 1964 to 2013, total damages: 55...",0.130033
270,-37_-61,11,1967,2014,5547394.0,3.714286,156.0,5.082803e+06,Riverine flood,"Yuqueri Grande, Chico River",5.043085e+05,4.272727,"11 events from 1967 to 2014, total damages: 55...",0.128037
627,15_121,12,1977,2016,32297.0,3.300000,286.0,4.358738e+06,Coastal flood,Marikina river,2.691417e+03,3.250000,"12 events from 1977 to 2016, total damages: 32...",0.125468
1758,7_125,12,1973,2014,107240.0,6.500000,188.0,2.932239e+06,Flash flood,32342,8.936667e+03,3.416667,"12 events from 1973 to 2014, total damages: 10...",0.124592
647,16_-92,10,1987,2016,4654746.0,8.400000,978.0,3.286575e+06,Riverine flood,"Grijalva, Carrizal, Samaria, and Usumacinta",4.654746e+05,2.900000,"10 events from 1987 to 2016, total damages: 46...",0.123554
1124,35_109,9,1981,2014,6331198.0,6.400000,1150.0,2.716231e+06,Riverine flood,"Jtalin, Han and Wet Rivers, Hanjiang River",7.034664e+05,3.666667,"9 events from 1981 to 2014, total damages: 633...",0.118937
1193,37_127,10,1966,2011,3316713.0,2.800000,858.0,1.044745e+06,Flash flood,Kum and Imjin,3.316713e+05,4.500000,"10 events from 1966 to 2011, total damages: 33...",0.118562
490,11_105,10,1991,2007,1009070.0,49.666667,1261.0,4.323945e+06,Riverine flood,Mekong,1.009070e+05,1.600000,"10 events from 1991 to 2007, total damages: 10...",0.116687
221,-2_29,11,1988,2018,17181.0,7.900000,393.0,7.986500e+04,Riverine flood,Sebeya river,1.561909e+03,2.727273,"11 events from 1988 to 2018, total damages: 17...",0.115497
151,-22_-43,9,1971,2018,3670122.0,2.000000,1470.0,3.271164e+06,Riverine flood,"Paraiba do Sul, Fuba, Muriae",4.077913e+05,5.222222,"9 events from 1971 to 2018, total damages: 367...",0.115176
1690,5_102,11,1986,2017,490413.0,13.363636,158.0,1.214387e+06,Riverine flood,"Kelantan, Sungai Kolok, Dungun, Kemaman, Golok...",4.458300e+04,2.818182,"11 events from 1986 to 2017, total damages: 49...",0.114199
245,-32_147,11,1971,2003,652258.0,9.571429,81.0,3.023600e+04,Flash flood,"Worona, Cooks",5.929618e+04,2.909091,"11 events from 1971 to 2003, total damages: 65...",0.113793
719,19_-72,11,1986,2016,55574.0,1.454545,113.0,1.349540e+05,Riverine flood,NaN,5.052182e+03,2.727273,"11 events from 1986 to 2016, total damages: 55...",0.112511
844,24_109,9,1985,2018,7444127.0,5.111111,280.0,1.852194e+07,Riverine flood,Xiangjiang River,8.271252e+05,3.666667,"9 events from 1985 to 2018, total damages: 744...",0.112382
451,10_-83,11,1969,2012,219177.0,4.625000,44.0,3.558940e+05,Riverine flood,Chirripo,1.992518e+04,3.909091,"11 events from 1969 to 2012, total damages: 21...",0.112198
211,-29_31,10,1974,2016,1939570.0,1.500000,581.0,8.870700e+04,Riverine flood,56340,1.939570e+05,4.200000,"10 events from 1974 to 2016, total damages: 19...",0.111730
813,22_114,11,1970,1992,96556.0,4.111111,9.0,6.407000e+03,Flash flood,NaN,8.777818e+03,2.000000,"11 events from 1970 to 1992, total damages: 96...",0.111475
1752,7_-76,10,1990,2018,1553980.0,44.777778,516.0,2.407259e+06,Riverine flood,La Garcia,1.553980e+05,2.800000,"10 events from 1990 to 2018, total damages: 15...",0.109956
853,24_88,7,1978,2011,415014.0,8.750000,3797.0,3.392720e+07,Coastal flood,NaN,5.928771e+04,4.714286,"7 events from 1978 to 2011, total damages: 415...",0.109722

# Save data to csv

In [ ]:
final_columns = ['grid_id', 'lat', 'lon', 'total_event_count',
                 'earliest_event_year', 'latest_event_year',
                 'total_damages', 'primary_admin1', 'unique_locations', 'avg_duration',
                 'avg_damage_per_flood', 'total_deaths', 'total_affected',
                 'reconstruction_costs', 'predominant_subtype', 'ofda_response_count',
                 'predominant_river_basin', 'flood_recurrence_interval', 'event_summary']

final_df = df.copy()

final_df.to_csv('/content/drive/MyDrive/mml_flood/UI/flood_grid_summary.csv', index=False)
print("Aggregated flood grid summary data saved to '/content/drive/MyDrive/mml_flood/UI/flood_grid_summary.csv'.")

Aggregated flood grid summary data saved to '/content/drive/MyDrive/mml_flood/UI/flood_grid_summary.csv'.